/* globals.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background: linear-gradient(
        to top,
        #c3cfe2,
        #e9eef1
    ); /* A subtle gradient background */
    font-family: "Lato", sans-serif; /* A versatile font which is clean yet modern */
}

@keyframes rotateSpinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.spinner::before,
.spinner::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border: 2px solid transparent;
    border-radius: 50%;
    animation: rotateSpinner 1s infinite;
}

.spinner::before {
    border-top-color: #4c51bf; /* First circle color */
    border-right-color: #4c51bf;
    animation-direction: reverse;
}

.spinner::after {
    border-bottom-color: #667eea; /* Second circle color */
    border-left-color: #667eea;
}
