/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #c3cfe2, #e9eef1);
  font-family: "Lato", sans-serif;
}

/* Add spinner animation if not already present */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}
